
  button {
    width: 100px;
    height: 70px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: whitesmoke;
    background-color: rgb(17, 93, 155);
    margin: 50px;
    padding: 5px;
    cursor: pointer;
  }
  
  .cen {
    text-align: center;
  }

  #mr {
      margin: 100px;
  }

  #mr2 {
    margin-right: 50px;
}

.font {
  font-family: 'Tomorrow', sans-serif;
}
.font2 {
  font-family: 'Kulim Park', sans-serif;
}